* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #252525;
}

li {
  list-style-type: none;  
}

a {
  text-decoration: none;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 976px;
  height: 100%;
  margin: 0 auto 0 auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 976px;
  height: 100%;
  margin: 0 auto 0 auto;
}

#search {
  width: 500px;
  height: 35px;
  border-radius: 25px;
  padding-left: 10px;
  border: 1px solid #252525;
}

#search:focus {
  outline: none;
  outline-width: 0;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;  
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.gstor {
  font-size: 6rem;
  text-align: center;
  color: white;
}

.gstor-subtitle {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.info-title-wrapper {
  display: flex;
  flex-direction: column;
  width: 976px;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
  color: white;
}

.info-title {
  font-size: 3rem;
}

.info-img {
  height: 90x;
  width: 90px;
}

.info-table {
  display: flex;
  width: 976px;
  margin: 0 auto 0 auto;
  justify-content: center;
  color: white;
}

.info-container {
  margin-top: 10px;
  border: 1px solid gray;
  box-shadow: 3px 3px #888888;
  border-radius: 4px;
  background-color: rgb(39 34 34);
  width: 969px;
}

.info-table td, .info-table th {
  border: 1px solid white;
  padding: 2px;
}

td, th, tr {
  border: 1px solid rgb(39 34 34);
  text-align: left;
}

.info-table-heading {
  font-size: 1.3rem;
}

.nav-container {
  display: flex;
  height: 35px;
  width: 400px;
  justify-content: space-between;
  align-self: flex-end;
  margin-right: 8px;
}

.nav-item-first, .nav-item-prev, .nav-item-next, .nav-item-last {
  display: flex;
  width: 62px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nav-pages {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  width: 976px;
  height: 200px;
  margin: 0 auto 0 auto;
  background-color: #ababab;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.loading-bar {
  width: 700px;
  height: 50px;
  background-color: rgb(21 52 21 / 75%);
  animation: stretch 1s;
  border: 3px solid white;
  margin-top: 25px;
}

@keyframes stretch {
  0% {
    width: 50px;
  }
  100% {
    width: 700px;
  }
}

.search-info {
  color: white;
  margin-left: 15px;
}

.search-error {
  color: #d78181;
}